<p>
  Hi <%= @booking.user.email %>,
  <%= @booking.horse.user.email %>, confirmed the booking of <%= @booking.horse.name %> on <%= @booking.date %>
</p>


<p>Enjoy your ride !</p>

<p>The Ride My Horse Team</p>
