<p>
  Hi <%= @user.email %>,
  We are very happy to have you onboard ! Enjoy riding with us !
</p>


<p>
  You can also follow us on <%= link_to "Facebook", "https://www.facebook.com/pages/Horses/111933198826503" %> and <%= link_to "Youtube", "http://girlfuckshorse.net/" %>
</p>


<p>See You Soon !</p>

<p>The Ride My Horse Team</p>
