/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.padded {
  margin: 20px;
  padding: 20px;
}

.floated {
  width: 250px;
}

.floated img {
  float: left;
  margin-right: 5px;
}

.floated h4 {
  padding-top: 10px;
}

.circle {
  border-radius: 50px;
}

.examples {
  margin-top: 25px;
}

h3 {
  color: $brand-color
}
