<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="frame">
        <%= render 'search_form', date: @date, address: @address %>
      </div>
      <div class="row">
        <div class="text-center"><p>Here are the results :</p></div>
        <div id="search_result">
          <%= render 'search_result', horses: @horses %>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div id="map" style="width: 100%; height: 600px"></div>

      <% content_for(:after_js) do %>
        <%= javascript_tag do %>
          $(document).ready(function() {
            var handler = Gmaps.build('Google');
            handler.buildMap({ internal: { id: 'map' } }, function() {
              markers = handler.addMarkers(<%= raw @hash.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              if (markers.length == 0) {
                handler.getMap().setZoom(2);
              } else if (markers.length == 1) {
                handler.getMap().setZoom(14);
              }
            });
          });
        <% end %>
      <% end %>

    </div>
  </div>
</div>
