<div class="banner" style="background-image: url(<%= image_path 'photo_banner_home.jpg' %>);">
  <div class="banner-content">
    <h1>Ride My Horse</h1>
    <p>Share your passion for horses, with passionated people ...</p>

    <a class="btn btn-primary btn-lg">GET IT</a>
  </div>
</div>
