<div class="banner" style="background-image: url(<%= image_path 'photo_banner_home.jpg' %>);">
  <div class="banner-content">
    <h1>Ride My Horse</h1>
    <br>
    <p>Share your passion for horses, with passionate people...</p>
  </div>
</div>
