<div class="footer">
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.jpg" %>
  <% end %>
  <a href="#">
    <i class="fa fa-linkedin" ></i>
  </a>
  <p>(c) DreamTeam, Le Wagon novembre 2016 </p>
</div>
