<div class="footer">
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.jpg" %>
  <% end %>
  <p>Made with <i class="fa fa-heart-o fa-lg" ></i></p>
  <div class="social">
    <a href="#">
      <i class="fa fa-facebook fa-lg" ></i>
    </a>
    <a href="#">
      <i class="fa fa-instagram fa-lg" ></i>
    </a>
    <a href="#">
      <i class="fa fa-youtube fa-lg" ></i>
    </a>
  </div>
  <p>(c) The DreamTeam, Le Wagon, novembre 2016 </p>
</div>
