<div class="footer">

  <div class="col-sm-4 text-left">
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "logo.jpg" %>
    <% end %>

      <a href="#">
        <i class="fa fa-facebook fa-lg" ></i>
      </a>
      <a href="#">
        <i class="fa fa-instagram fa-lg" ></i>
      </a>
      <a href="#">
        <i class="fa fa-youtube fa-lg" ></i>
      </a>
  </div>

  <div class="col-sm-4" style="text-align: center">
    <p>Made with <i class="fa fa-heart-o fa-lg" ></i> by a dedicated team</p>
  </div>

  <div class="col-sm-4" style="text-align: right">
    <p>(c) The DreamTeam, Le Wagon, novembre 2016 </p>
  </div>



</div>
