
<div class="container">
  <%= simple_form_for :search, url: horses_path, method: :get do |f| %>
    <div class="row">
      <div class="col-sm-4 col-md-5">
        <%= f.input :address, placeholder: 'Where do you want to ride ?', label: false %>
      </div>
      <div class="col-sm-5 col-md-4">
        <%= f.input :date, as: :date, label: false %>
      </div>
      <div class="col-sm-3 col-md-3">
        <%= f.button :submit, class: "btn-block" %>
      </div>
    </div>
  <% end %>
</div>
