// Your footer style
.footer {
  box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  display: flex;
  height: 70px;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  color: #dddddd;
}

.footer p {
  font-size: 10px;
}
