@import "alert";
@import "avatars";
@import "badges";
@import "buttons";
@import "banner";
@import "cards";
@import "footer";
@import "media_layout";
@import "product_item";
@import "profile_header";
@import "tabs";

.frame {
  background-color: $light-grey;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
}

.results {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  padding-bottom: 5px;
}

#map {
  margin-top: 20px;
}
